<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-card-title>Utilisateurs Page</mat-card-title>
    <mat-card-subtitle class="mat-body-1">This is test page</mat-card-subtitle>
  </mat-card-content>
</mat-card>
<!-- form -->
<mat-card class="cardWithShadow theme-card"  id="form2">
  <mat-card-header>
    <div class="mat-mdc-card-header-text">
      <mat-card-title class="mat-mdc-card-title m-b-0">Ajout Employée
      </mat-card-title>
    </div>
  </mat-card-header>
  <mat-card-content class="mat-mdc-card-content b-t-1">
    <form [formGroup]="formData" >
      <mat-form-field class="col-sm-4" appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="nom" name="nom" required>
      </mat-form-field>
      <mat-form-field class="col-sm-4" appearance="outline">
        <mat-label>Prénoms</mat-label>
        <input matInput formControlName="prenom" name="prenoms" required>
      </mat-form-field>
      <mat-form-field class="col-sm-4" appearance="outline">
        <mat-label>Adresse e-mail</mat-label>
        <input *ngIf="isupdate===false" matInput formControlName="email" name="email" type="email" required>
        <input *ngIf="isupdate===true" matInput readonly value="formControlName.get('email')?.value" formControlName="email" name="email" type="email" required>
      </mat-form-field>
      <div class="col-sm-2" *ngIf="isupdate===false" >
        <button mat-raised-button color="primary" (click)="onSubmit()">Ajouter</button>
      </div>
      <div class="col-sm-2" *ngIf="isupdate===true">
        <button mat-raised-button color="primary" (click)="updateData()">Modifier</button>
      </div> 
    </form>    
  </mat-card-content>
</mat-card>
<!-- list -->
<mat-card class="cardWithShadow">
  <mat-card-header>
    <div>
      <mat-card-title>Utilisateurs</mat-card-title>
      <mat-card-subtitle>Employée</mat-card-subtitle>
    </div>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 p-l-0"> Nom & Prénoms </th>
        <td mat-cell *matCellDef="let element">
          <div class="m-1-16">
            <h6 class="mat-subtitle-1 f-s-14 f-w-600">{{element.nom }} {{element.prenom}}</h6>
            <!-- <span class="mat-body-1 f-s-12"> coiffeurs</span> -->
          </div>

        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 p-l-0"> Email </th>
        <td mat-cell *matCellDef="let element" class="mat-body-1"> {{element.email}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="roleId">
        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 p-l-0"> Role </th>
        <td mat-cell *matCellDef="let element" class="mat-body-1">
          <span class="bg-light-accent text-accent rounded f-w-600 p-6 p-y-4 f-s-12">
            {{element.roleId.libelle}}
          </span>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="estactif">
        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 p-l-0"> Valide </th>
        <td mat-cell *matCellDef="let element" class="mat-body-1"> 
          <span *ngIf="element.estActif===true" class=" bg-light-success text-success"> <i-tabler name="check"></i-tabler> </span>
          <span *ngIf="element.estActif===false" class=" bg-light-error text-error"> <i-tabler name="square-x"></i-tabler> </span>
        </td>
      </ng-container>
      <!-- Action -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 p-l-0"> Action </th>
        <td  mat-cell *matCellDef="let element" class="mat-body-1">
          <a class="m-r-10 cursor-pointer" (click)="scrollToSection('form2',element)">
            <i-tabler name="edit" class="icon-18"></i-tabler>
          </a>
          <a class="m-r-10 cursor-pointer" (click)="deleteuser(element)">
            <i-tabler name="trash" class="icon-18"></i-tabler>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="totalPages" [pageSize]="size" (page)="onPageChange($event)" showFirstLastButtons>
    </mat-paginator>
  </mat-card-content>
</mat-card>