<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<mat-card class="cardWithShadow">
    <mat-card-content>
      <mat-card-title>Sample Page</mat-card-title>
      <mat-card-subtitle class="mat-body-1">This is test page</mat-card-subtitle>
    </mat-card-content>
  </mat-card>

  <mat-card class="cardWithShadow">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="nom" >
        <th mat-header-cell *matHeaderCellDef> Nom & Prénoms </th>
        <td mat-cell *matCellDef="let element"> {{element.nom }} {{element.prenom}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="roleId">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let element"> {{element.roleId}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="estactif">
        <th mat-header-cell *matHeaderCellDef> Valide </th>
        <td mat-cell *matCellDef="let element"> {{element.estactif}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </mat-card>
  