<div *ngIf="(loader.isLoading | async)" class="loader-overlay ">
  <mat-spinner diameter="50"></mat-spinner>
</div>
<div *ngIf="!(loader.isLoading | async)">
  <mat-card class="cardWithShadow">
    <mat-card-content>
      <mat-card-title>{{user.prenom}} {{user.nom}}</mat-card-title>
      <mat-card-subtitle class="mat-body-1"></mat-card-subtitle>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="cardWithShadow">
    <mat-card-header>
      <div class="mat-mdc-card-header-text">
      <mat-card-title class="mat-mdc-card-title m-b-0">Horaire de travail 
      </mat-card-title>
      </div>
  </mat-card-header>
  <mat-card-content>
    <form #horaireForm="ngForm" (ngSubmit)="setFormData(horaireForm.value)">
      <div class="row">
          <div class="col-md-6">
              <div class="form-group mb-2">
                  <label for="heureDebut">Début de travail</label>
                  <input type="time" class="form-control" id="heureDebut" name="heureDebut" [(ngModel)]="horaire.heureDebut" required>
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group mb-2">
                  <label for="heureFin">Fin de Travail</label>
                  <input type="time" class="form-control" id="heureFin" name="heureFin" [(ngModel)]="horaire.heureFin" required>
              </div>
          </div>
      </div>
  
      <div class="row">
          <div class="col-md-6">
              <div class="form-group mb-2">
                  <label for="pauseDebut">Début de Pause</label>
                  <input type="time" class="form-control" id="pauseDebut" name="pauseDebut" [(ngModel)]="horaire.pauseDebut" required>
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group mb-3"> <!-- Ajout d'une marge en bas pour aligner avec la marge du bouton quand sur mobile -->
                  <label for="pauseFin">Fin de Pause</label>
                  <input type="time" class="form-control" id="pauseFin" name="pauseFin" [(ngModel)]="horaire.pauseFin" required>
              </div>
          </div>
      </div>
  
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalUpdate">Valider</button>
      </div>
  </form>
  </mat-card-content>
  </mat-card>
  
  
  <mat-card class="cardWithShadow" *ngIf="show">
    <mat-card-header>
      <div class="mat-mdc-card-header-text">
      <mat-card-title class="mat-mdc-card-title m-b-0">Statistique
      </mat-card-title>
      </div>
  </mat-card-header>
    <mat-card-content>
      <div id="chart">
        <div id="chart">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
            [stroke]="chartOptions.stroke"
            [dataLabels]="chartOptions.dataLabels"
            [title]="chartOptions.title"
            [yaxis]="chartOptions.yaxis"
            [tooltip]="chartOptions.tooltip">
          </apx-chart>
        </div>
        
      </div>    
    </mat-card-content>
  </mat-card>
  
  <!-- UPDATE -->
  <div class="modal fade" id="modalUpdate" tabindex="-1" aria-labelledby="modalUpdateLabel" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalUpdateLabel">Modification:</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Êtes - vous sûr de  vouloir  enregistrer cette modification ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="updateHoraire()">Enregistrer</button>
        </div>
      </div>
    </div>
    </div>
</div>