<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Tache</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div cdkDropList (cdkDropListDropped)="drop(event)" [cdkDropListData]="list1">
      <div *ngFor="let item of list1" cdkDrag>{{ item }}</div>
    </div>
    
    <div cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="list2">
      <div *ngFor="let item of list2" cdkDrag>{{ item }}</div>
    </div>
    
  </mat-card-content>
</mat-card>