<mat-card class="cardWithShadow">
    <mat-card-content>
      <mat-card-title>Rendez-vous - {{rdv.dateRdv | date:'EEE d MMM y':'':'fr' }}</mat-card-title>
      <mat-card-subtitle class="mat-body-1"></mat-card-subtitle>
    </mat-card-content>
  </mat-card>


  <mat-card class="cardWithShadow">
    <mat-card-header>
        <div>
        <!-- <mat-card-title>Utilisateurs</mat-card-title> -->
        <mat-card-subtitle>Service</mat-card-subtitle>
        </div>
    </mat-card-header>
    <mat-card-content>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Service</th>
                <th scope="col">Employé</th>
                <th scope="col">Prix</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rdvDet of listRdvDet; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ rdvDet.idService.nom }}</td>
                    <td>{{ rdvDet.idEmploye.prenom }} {{ rdvDet.idEmploye.nom }}</td>
                    <td>
                        {{ rdvDet.prixService }} Ar
                    </td>
                  </tr>
            </tbody>
          </table>
    
    </mat-card-content>
    </mat-card>
    
    <mat-card class="cardWithShadow">
      <mat-card-content>
        <div class="row">
          <div class="col text-left">
            <mat-card-title>Total :</mat-card-title>  
          </div>
          <div class="col text-right">
            <div>{{total}}</div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    
    <div class="d-grid gap-2 col-6 mx-auto" *ngIf="!rdv.isPaid">
      <button class="btn btn-success" (click)="payerRDV()">Payer</button>
    </div>