<mat-card class="cardWithShadow">
    <mat-card-content>
      <mat-card-title>Statistique</mat-card-title>
      <mat-card-subtitle class="mat-body-1"></mat-card-subtitle>
    </mat-card-content>
  </mat-card>


  <!-- <mat-card class="cardWithShadow">
    <mat-card-header>
        <div class="mat-mdc-card-header-text">
        <mat-card-title class="mat-mdc-card-title m-b-0">temps  moyen  de  travail
        </mat-card-title>
        </div>
    </mat-card-header>
    <mat-card-content>
      <mat-card-title>Historique de vos Rendez-vous</mat-card-title>
      <mat-card-subtitle class="mat-body-1"></mat-card-subtitle>
    </mat-card-content>
  </mat-card> -->

  
<mat-card class="cardWithShadow">
    <mat-card-header>
      <div class="mat-mdc-card-header-text">
      <mat-card-title class="mat-mdc-card-title m-b-0">Temps  moyen  de  travail
      </mat-card-title>
      </div>
  </mat-card-header>
    <mat-card-content>
      <div id="chart">
        <div id="chart">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
            [stroke]="chartOptions.stroke"
            [dataLabels]="chartOptions.dataLabels"
            [title]="chartOptions.title"
            [yaxis]="chartOptions.yaxis"
            [tooltip]="chartOptions.tooltip">
          </apx-chart>
        </div>
        
      </div>    
    </mat-card-content>
  </mat-card>