<mat-card class="cardWithShadow">
    <mat-card-content>
      <mat-card-title>Statistique</mat-card-title>
      <mat-card-subtitle class="mat-body-1"></mat-card-subtitle>
    </mat-card-content>
  </mat-card>


  <!-- <mat-card class="cardWithShadow">
    <mat-card-header>
        <div class="mat-mdc-card-header-text">
        <mat-card-title class="mat-mdc-card-title m-b-0">temps  moyen  de  travail
        </mat-card-title>
        </div>
    </mat-card-header>
    <mat-card-content>
      <mat-card-title>Historique de vos Rendez-vous</mat-card-title>
      <mat-card-subtitle class="mat-body-1"></mat-card-subtitle>
    </mat-card-content>
  </mat-card> -->

  
<mat-card class="cardWithShadow"  *ngIf="show">
    <mat-card-header>
      <div class="mat-mdc-card-header-text">
      <mat-card-title class="mat-mdc-card-title m-b-0">Temps  moyen  de  travail
      </mat-card-title>
      </div>
  </mat-card-header>
    <mat-card-content>
        <div id="chart">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [colors]="chartOptions.colors"
            [xaxis]="chartOptions.xaxis"
            [stroke]="chartOptions.stroke"
            [dataLabels]="chartOptions.dataLabels"
            [title]="chartOptions.title"
            [yaxis]="chartOptions.yaxis"
            [tooltip]="chartOptions.tooltip"
            [legend]="chartOptions.legend">
          </apx-chart>
        </div>
         
    </mat-card-content>
  </mat-card>

<mat-card class="cardWithShadow"  *ngIf="showBenefice">
  <mat-card-header>
    <div class="mat-mdc-card-header-text">
    <mat-card-title class="mat-mdc-card-title m-b-0">Chiffres d' affaire
    </mat-card-title>
    </div>
  </mat-card-header>
  <mat-card-content>
      <div id="chartBenefice">
        <apx-chart
          [series]="chartOptionBenefice.series"
          [chart]="chartOptionBenefice.chart"
          [colors]="chartOptionBenefice.colors"
          [xaxis]="chartOptionBenefice.xaxis"
          [stroke]="chartOptionBenefice.stroke"
          [dataLabels]="chartOptionBenefice.dataLabels"
          [title]="chartOptionBenefice.title"
          [yaxis]="chartOptionBenefice.yaxis"
          [tooltip]="chartOptionBenefice.tooltip"
          [legend]="chartOptionBenefice.legend">
        </apx-chart>
      </div>
        
  </mat-card-content>
</mat-card>


<mat-card class="cardWithShadow"  *ngIf="showNbReservationParJour">
  <mat-card-header>
    <div class="mat-mdc-card-header-text">
    <mat-card-title class="mat-mdc-card-title m-b-0">Nombre de réservation par jour
    </mat-card-title>
    </div>
  </mat-card-header>
  <mat-card-content>
      <div id="chartNbReservationParJour">
        <apx-chart
          [series]="chartOptionNbReservationParJour.series"
          [chart]="chartOptionNbReservationParJour.chart"
          [colors]="chartOptionNbReservationParJour.colors"
          [xaxis]="chartOptionNbReservationParJour.xaxis"
          [stroke]="chartOptionNbReservationParJour.stroke"
          [dataLabels]="chartOptionNbReservationParJour.dataLabels"
          [title]="chartOptionNbReservationParJour.title"
          [yaxis]="chartOptionNbReservationParJour.yaxis"
          [tooltip]="chartOptionNbReservationParJour.tooltip"
          [legend]="chartOptionNbReservationParJour.legend">
        </apx-chart>
      </div>
        
  </mat-card-content>
</mat-card>



<mat-card class="cardWithShadow"  *ngIf="showNbReservationParMois">
  <mat-card-header>
    <div class="mat-mdc-card-header-text">
    <mat-card-title class="mat-mdc-card-title m-b-0">Nombre de réservation par mois
    </mat-card-title>
    </div>
  </mat-card-header>
  <mat-card-content>
      <div id="chartNbReservationParMois">
        <apx-chart
          [series]="chartOptionNbReservationParMois.series"
          [chart]="chartOptionNbReservationParMois.chart"
          [colors]="chartOptionNbReservationParMois.colors"
          [xaxis]="chartOptionNbReservationParMois.xaxis"
          [stroke]="chartOptionNbReservationParMois.stroke"
          [dataLabels]="chartOptionNbReservationParMois.dataLabels"
          [title]="chartOptionNbReservationParMois.title"
          [yaxis]="chartOptionNbReservationParMois.yaxis"
          [tooltip]="chartOptionNbReservationParMois.tooltip"
          [legend]="chartOptionNbReservationParMois.legend">
        </apx-chart>
      </div>
        
  </mat-card-content>
</mat-card>